<div><h1 data-index="" id="User Guide" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">User Guide<a href="#User Guide" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h1>

<hr>
<h3 data-index="" id="Page Index" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Page Index<a href="#Page Index" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h3>
This shows a list of directories and pages in alphabetical order.

<h3>Search</h3>

<p>The search covers only directory and pages names. Search output limited by  search limit field (7 default)</p>
<h3 data-index="" id="History" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">History<a href="#History" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h3>
You can see server history via <img style="height: 1em" src="/static/icons/history.svg"> <pre style="display: inline-block">History</pre>. There are "Action" and "Date" 
with <pre style="display: inline-block; background: #45557550; font-size:1.2em">YYYY-MM-DD HH:mm:ss</pre> format

<h3 data-index="" id="Сopying" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Сopying<a href="#Сopying" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h3>
You can copy HTML source of page with <img style="height: 1em" src="/static/icons/menu.svg"> ▶ <img style="height: 1em" src="/static/icons/copy.svg"> 

<p>You can copy link of page with <img style="height: 1em" src="/static/icons/menu.svg"> ▶ <img style="height: 1em" src="/static/icons/copy-link.svg"> </p>
</div>