
    #content{
        border-radius: 2vh;
    }

    #content div{
        display: grid;
        grid-template-columns: 68% 30%;
        gap: 2%;
        border-bottom: var(--border-secondary) 0.25vh solid;
        
    }
    #content div:first-child{
        border-top-left-radius: 2vh;
        border-top-right-radius: 2vh;
    }

    #content div:last-child{
        border-bottom-left-radius: 2vh;
        border-bottom-right-radius: 2vh;
    }

    #content div:nth-child(even) {
        background-color: var(--bg-tertiary);
    }

    #content div:nth-child(odd) {
        background-color: var(--bg-secondary);
    }

    #content::after {
    content: "";
    display: block;
    height: 2vh;
}
