
<style>
    .input-label{
        margin-top: 2%;
        height: 30vh;
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: var(--file-input);
        display: flex;
        border-radius: 1vh;
        transition: filter 0.15s ease;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        cursor: pointer;
    }
    .input-label:hover{
        filter: brightness(0.9);
        transition: filter 0.15s ease;
    
    }
    .input-label:active{
        filter: brightness(0.95);
        transition: filter 0.15s ease;
    
    }
    .file-hover{
        filter: brightness(0.9);
        transition: filter 0.15s ease;
    }

    .input-icon{
        width: 3rem;
        height: 3rem;
        display: block;
        background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2224px%22%20viewBox%3D%220%20-960%20960%20960%22%20width%3D%2224px%22%20fill%3D%22%23e3e3e3%22%3E%3Cpath%20d%3D%22M640-520v-200h80v200h-80ZM440-244q-35-10-57.5-39T360-350v-370h80v476Zm30%20164q-104%200-177-73t-73-177v-370q0-75%2052.5-127.5T400-880q75%200%20127.5%2052.5T580-700v300h-80v-300q-1-42-29.5-71T400-800q-42%200-71%2029t-29%2071v370q-1%2071%2049%20120.5T470-160q25%200%2047.5-6.5T560-186v89q-21%208-43.5%2012.5T470-80Zm170-40v-120H520v-80h120v-120h80v120h120v80H720v120h-80Z%22%2F%3E%3C%2Fsvg%3E");
        background-size: 3rem;
        background-clip: inherit;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0.5);
        color: var(--text-secondary);
        
    }

    .submit-btn{
        margin-top: 2%;
        height: 5vh;
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: var(--file-input);
        display: flex;
        border-radius: 1vh;
        transition: filter 0.15s ease;
        border: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--text-secondary);
        cursor: pointer;
    }
    .submit-btn:hover{
        filter: brightness(0.9);
        transition: filter 0.15s ease;
    }
    .submit-btn:active{
        filter: brightness(0.95);
        transition: filter 0.15s ease;
    }
    .att-input{
        border:0;outline:0;
        padding-left: 1rem;
        box-sizing: border-box;
        color: var(--text-secondary);
    }
    .att-input:focus {outline:none!important;}
    .att-input::placeholder{
        color: var(--text-secondary);
        filter: opacity(0.7);
    }
    
</style>
<input type="text" id="file-input" class="submit-btn att-input" placeholder="Override file name" style="border: none; cursor:auto;">
<label id="lbl" class="input-label" for="att_input">
    <div class="input-icon"></div>
    <p id="file-name">Attach File</p>
</label>
<input type="file" style="display: none;" id="att_input">
<button class="submit-btn" onclick="submit()">Submit</button>

<script>
    const input = document.getElementById("att_input");
    const dropZone = document.getElementById("lbl");
    const fileName = document.getElementById("file-name");
    const fileInput = document.getElementById("file-input");

    input.addEventListener("change",()=>{
        fileName.innerText=input.files[0].name
    })

    if (dropZone) {
        let hoverClassName = 'file-hover';
    
        dropZone.addEventListener("dragenter", function(e) {
            e.preventDefault();
            dropZone.classList.add(hoverClassName);
        });
    
        dropZone.addEventListener("dragover", function(e) {
            e.preventDefault();
            dropZone.classList.add(hoverClassName);
        });
    
        dropZone.addEventListener("dragleave", function(e) {
            e.preventDefault();
            dropZone.classList.remove(hoverClassName);
        });
    
        dropZone.addEventListener("drop", function(e) {
            e.preventDefault();
            dropZone.classList.remove(hoverClassName);

            input.files = e.dataTransfer.files;
            fileName.innerText=input.files[0].name
        });

        function submit(){
            
            if (input.files.length!=1){
                return
            }

            fileName.innerText="Processing..."
            let new_name=input.files[0].name
            if (fileInput.value.trim()!=""){
                new_name=fileInput.value.trim()
            }
            const newFile = new File(
                [input.files[0]],           
                new_name,           
                { 
                type: input.files[0].type, 
                lastModified: input.files[0].lastModified 
                }
            );
            
            var data = new FormData()
            data.append('file', newFile)

            let ok=false
            fetch('/-/api/add-att', {
                method: 'POST',
                
                body: data 
            }).then((resp)=>{
                ok=resp.ok
                return resp.text()
            }).then((result)=>{
                if (ok){
                    fileName.innerText="Accepted, path: /static/att/"+newFile.name
                }
                else{
                    fileName.innerText=result
                }
            })
     
        
        }
}
</script>