<html>

<head>
    <link rel="icon" href="/static/pageicons/favicon.png" type="image/png">

  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Registration</title>
<link rel="stylesheet" href="/static/css/login.css">

  <script defer src="/static/js/theme.js"></script>


</head>

<body>
  <div class="main">
    <p class="sign" align="center">Registration</p>
    <div class="form1">
      <input id="login" class="un " type="text" align="center" placeholder="Login">
      <input id="password" class="un" type="text" align="center" placeholder="Password">
      <button class="submit" onclick="post()"  align="center">Submit</button>
            
                
    </div>
     
</body>

<script>
     const urlParams = new URLSearchParams(window.location.search);

        let next = urlParams.get("next");
        if (next === null || next === undefined){
            next = ""
        }
   function post(){
        
        let login_input  = document.getElementById("login")
        let interval_input  = document.getElementById("password")
    
        let data = {"login": login_input.value, "password": interval_input.value}
let b = JSON.stringify(data)
        fetch("/-/api/registrate",{
            headers: {  
                'Content-Type': 'application/json'
            },
			method:"POST",
			body: JSON.stringify(data),
		})
		.then(function(response){
			if (response.ok){
                window.location.href = next
            }
		})
		
    }

</script>

</html>