<div><h1 data-index="" id="Markdown Guide" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Markdown Guide<a href="#Markdown Guide" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h1>

<hr>
<br>

<blockquote class="callout tip" style="white-space: pre-wrap;"><div class="callout tip-title">Tip</div>
<p style="margin: auto;">
To index headers you need to add data-index to html tag
Example: <code>&lt;h1 data-index&gt;Chapter1&lt;/h1&gt;</code>
'Chapter1' will be added to navigation</p>
</blockquote>
<br>

<h2 data-index="" id="Headings" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Headings<a href="#Headings" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<p>Use # characters to create headings.</p>
<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td># Heading 1 <br> ## Heading 2 <br> ### Heading 3 <br> #### Heading 4 <br> ##### Heading 5 <br> ###### Heading 6 <br></td>
<td><h1>Heading 1</h1> <h2>Heading 2</h2> <h3>Heading 3</h3> <h4>Heading 4</h4> <h5>Heading 5</h5> <h6>Heading 6</h6></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Emphasis" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Emphasis<a href="#Emphasis" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td><pre>*italic*<br>**bold** <br>~~strikethrough~~</pre></td>
<td><em>italic</em><br><strong>bold</strong><br><del>strikethrough</del></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Lists" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Lists<a href="#Lists" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<h3 data-index="" id="Unordered lists" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Unordered lists<a href="#Unordered lists" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h3>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td><br>- Item A<br>- Item B<br> <p style="margin:0; white-space: pre ">	- Nested item<br></p><p></p></td>
<td><ul><li>Item A</li><li>Item B<ul><li>Nested item</li></ul></li></ul></td>
</tr>
</tbody></table></div>
<h3 data-index="" id="Ordered lists" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Ordered lists<a href="#Ordered lists" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h3>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td><br>1. List items <br> 2. in an ordered list <br> 3. numbered with numbers</td>
<td><ol> <li>List items</li> <li>in an ordered list</li> <li>numbered with numbers</li> </ol></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Links" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Links<a href="#Links" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td><br>	[SiteName](https://example.com)<br><br></td>
<td><br> <a href="https://example.com">SiteName</a></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Images" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Images<a href="#Images" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td><br>![Alt text](/static/icons/home.svg)<br></td>
<td><br> <img src="/static/icons/home.svg" alt="Alt text"> <br></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Inline Code" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Inline Code<a href="#Inline Code" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td>`Code Blocks`</td>
<td><code>Code Blocks</code></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Code Blocks" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Code Blocks<a href="#Code Blocks" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<p>Backticks with language name create fenced code blocks.</p>
<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td>``` rust <br>println!("Hello World!");<br>```</td>
<td><div style="display: inline;"><div class="code-title"><h4 style="margin-top: 0.3vh; margin-bottom: 0.3vh;">rust</h4><div class="code-copy-button" data-text="println!(&quot;Hello World!&quot;);" onclick="copyEvent(this)"><img src="/static/icons/copy.svg"></div></div><pre class="language-rust" tabindex="0"><code class="language-rust"><span class="token macro property">println!</span><span class="token punctuation">(</span><span class="token string">"Hello World!"</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre></div></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Blockquotes" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Blockquotes<a href="#Blockquotes" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<p>Use "&gt;" to create blockquotes.</p>
<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td>&gt; This is a quote<br>&gt; on two lines<br></td>
<td><blockquote>This is a quote <br> on two lines</blockquote></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="GitHub-Style Admonitions (Custom)" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">GitHub-Style Admonitions (Custom)<a href="#GitHub-Style Admonitions (Custom)" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<p>This editor supports <strong>GitHub-style admonitions</strong> using blockquotes.</p>
<h3 data-index="" id="Supported types" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Supported types<a href="#Supported types" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h3>

<ul>
<li><code>NOTE</code></li>
<li><code>TIP</code></li>
<li><code>WARNING</code></li>
<li><code>IMPORTANT</code></li>
<li><code>CAUTION</code></li>
</ul>
<h3 data-index="" id="Syntax" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Syntax<a href="#Syntax" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h3>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td><br>&gt;[!NOTE]<br>&gt;This is a note.<br></td>
<td><div data-callout="note" class="callout note" style="white-space: pre;"><div class="callout note-title">Note</div><p></p>This is a note.</div></td>
</tr>
<tr>
<td><br>&gt;[!WARNING]<br>&gt;Be careful here.<br></td>
<td><div data-callout="warning" class="callout warn" style="white-space: pre;"><div class="callout warn-title">Warning</div><p></p>Be careful here.</div></td>
</tr>
<tr>
<td><br>&gt;[!TIP]<br>&gt;Useful advice.<br></td>
<td><div data-callout="tip" class="callout tip" style="white-space: pre;"><div class="callout tip-title">Tip</div><p></p>Useful advice.</div></td>
</tr>
</tbody></table></div>
<h4 data-index="" id="Notes" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Notes<a href="#Notes" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h4>

<ul>
<li>The marker <strong>must be the first element</strong> inside the blockquote</li>
<li>Content may span multiple lines</li>
<li>Formatting inside admonitions is supported</li>
<li><div data-callout="important" class="callout important" style="white-space: pre;"><div class="callout important-title">Important</div><p></p>You can write &lt;div data-callout="note"&gt;This is a note.&lt;/div&gt;
instead of 
&gt;[!NOTE]
&gt;This is a note.</div></li>
</ul>


<hr>
<h2 data-index="" id="Horizontal Lines" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Horizontal Lines<a href="#Horizontal Lines" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td>---</td>
<td><hr></td>
</tr>
</tbody></table></div>
<hr>
<h2 data-index="" id="Tables" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Tables<a href="#Tables" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td style="vertical-align:middle"><div style="display: flex; flex-direction: column; width: 100%;">

  <div style="display: flex; justify-content: space-between; ">
    <span>|</span>
    <span>Column1</span>
    <span>|</span>
    <span>Column2</span>
    <span>|</span>
  </div>

  <div style="display: flex; justify-content: space-between;  ">
    <span>|</span>
    <span>Foo</span>
    <span>|</span>
    <span>Bar</span>
    <span>|</span>
  </div>

</div></td>
<td>

<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Column1</th>
<th>Column2</th>
</tr>
</thead>
<tbody><tr>
<td>Foo</td>
<td>Bar</td>
</tr>
</tbody></table></div>

</td>
</tr>
</tbody></table></div>

<hr>
<h2 data-index="" id="Line Breaks" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Line Breaks<a href="#Line Breaks" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<ul>
<li>A single newline inside text creates a soft break</li>
</ul>
<div style="overflow-x: auto; min-width: 0px;"><table>
<thead>
<tr>
<th>Markdown</th>
<th>Preview</th>
</tr>
</thead>
<tbody><tr>
<td>First line&lt;br&gt;Second line&lt;br&gt;</td>
<td>First line<br>Second line<br></td>
</tr>
</tbody></table></div>
<hr>
<br>

<h2 data-index="" id="Remark" onmouseenter="this.firstElementChild.style.opacity = `1`" onmouseleave="this.firstElementChild.style.opacity = `0`">Remark<a href="#Remark" style="margin-left: 5px; opacity: 0;"><img src="/static/icons/link.svg"></a></h2>

<p>There's actually a lot more to Markdown than this. See the official <a href="http://daringfireball.net/projects/markdown/basics">introduction</a> and <a href="http://daringfireball.net/projects/markdown/syntax">syntax</a> for more information.</p>
</div>