html { scroll-behavior: smooth; }
body {
    margin: 0;
font-family: system-ui, "Segoe UI", Arial, sans-serif;
    background-color: #313131;
    color: #e0e0e0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #c3a5ff;
    text-decoration: none;
}

a:hover {
    color: #cda5d6;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #2a2a3d;
}

*::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.header {
    height: 7.5vh;
    background-color: #2f2f2f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.left {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 200px;
    background-color: #252425;
    transition: width 0.3s ease, min-width 0.3s ease;
    padding: 1rem;
    box-sizing: border-box;
    border-right: 1px solid #444;
    overflow: auto; 
}

.left.hidden {
    width: 0;
    min-width: 0;
    padding: 0;
    border: none;
}
#links-chart{
    width: 100%;
    width: fit-content;
    padding: 1vw 1vh 1vw 1vh;

}
#links-chart a {
    display: block;
    margin-bottom: 10px;
    color: #d1d1d1;
    cursor: pointer;
    font-size: 1.65vh;
    text-align: auto;
    font-weight: normal;

    transition: font-weight 0.2s ease, color 0.2s ease;

}

#links-chart a:hover {
    color: #eaeaea;
    font-weight: 600;

    transition: font-weight 0.2s ease, color 0.2s ease;
}

.right {
    flex: 1;
    background-color: #19171d;
    padding: 2vh 1.5vw 2vh 1.5vw;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
}



h1, h2, h5 {
    color: #ffffff;
}

p.lead {
    color: #ccc;
}


ul, li {
    list-style-type: style auto;;
    padding-left: 10px;
    margin-left: 5px;
}

li {
    padding: 10px 0;
}
.no-transition {
  transition: none !important;
}
.arrow{
    height: 3vh; filter: brightness(200%); margin-right: 0.25vw;

    transform: translate(-30%,25%) rotate(0deg);
    transition: transform 0.15s ease;
}
.arrow.toggle{
    transform: translate(-30%,25%) rotate(-90deg);
    transition: transform 0.15s ease;
}
@media(max-width: 768px) {
    .left {
        width: 95vw;
        position: absolute;
        z-index: 10;
        height: 92.5vh;
        left: 0;
        transition: all 0.5s ease ;
    }
    .right{
        padding: 2vh 4vw 2vh 4vw;

    }
    .left.hidden {
        left: -95vw;

         transition: all 0.5s ease;
    }
    
    .wrapper {
        flex-direction: column;
    }
}




.search-wrap {
position: relative;
width: 95%;
margin-bottom: 1rem;
margin-left: 0.75vw;
}


.search-wrap input {
width: 100%;
padding: 2.25% 20% 2.25% 5%;
background-color: #393939;
border: 0.25vh solid #555;
border-radius: 2vh;
color: #e6e6e6;
font-size: 1rem;
outline: none;
box-sizing: border-box;
transition: border 0.2s ease;
}


.search-wrap input:focus {
border-color: #b4b2b2;
}


.search-wrap::after {
content: "";
position: absolute;
right: 12px;
height: 3vh;
width: 3vh;
top: 50%;
transform: translateY(-50%);
background: url('/static/icons/search_icon.svg') no-repeat center / contain;
filter: invert(0.7);
background-size: cover;
opacity: 0.7;
pointer-events: none;
}

.search-result{
    width: 95%; padding: 2.5%; margin-bottom: 1.5vh; height: 3vh; border-radius: 0.75vh; background: #2a2a2a;
    cursor: pointer;
}
.search-result a{
    color: #888;
    transition: color 0.3s ease;
}
.search-result a:hover{
    color: #adadad;
    transition: color 0.3s ease;
}
.search-result a:active{
    color: #c1bfbf;
    transition: color 0.3s ease;
}

.option-icon{
    height: 4vh;
    aspect-ratio: 1/1;
    border-radius: 0.5vh;
    cursor: pointer;

    transition: background-color 0.15s ease;
}
.option-icon:hover{
    background-color: #676767;

    transition: background-color 0.15s ease;

}
#service-title{
margin-left: 2vw;
}

@media (max-width: 768px) {
.search-wrap input {
font-size: 1.1rem;
}

#service-title{
display: none;}


}





  .side-menu {
    position: fixed;
    top: 7vh;
    right: 0;
    min-width: 230px;   
    width: 20%;          
    background: #252425;
    border-radius: 16px 0 0 16px;   
    box-shadow: -8px 8px 30px rgba(0,0,0,0.4);
    padding: 16px 0;
    transform: translateX(100%);   
    transition: transform 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1000;
    overflow: hidden;
  }

  .side-menu.open {
    transform: translateX(0);
  }

  .menu-item {
    display: flex;
    align-items: center;
    padding: 0.75vh 1.25vh;
    color: #e0e0e0;
    cursor: pointer;
    transition: background 0.2s ease;
    user-select: none;
  }

  .menu-item:hover {
    background: #343434;
  }

  .menu-item:active {
    background: #404040;
  }

  .menu-item svg {
    width: 2vh;

    margin-right: 16px;
    flex-shrink: 0;
  }

  .menu-item span {
    margin-left: 1vw;
    font-size: 1.75vh;
  }

  .menu-btn{
    height: 60%;
        aspect-ratio: 1/1;
        background-color: #3c3c3c;
        border: #4b4b4b 0.5vh solid;
        border-radius: 1vh;
        color: #dcdcdc;
        font-weight: bold;
        font-size: 2.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding: 0; white-space: pre;
        transition: background-color 0.15s ease;
  }
  .menu-btn:hover{
    background-color: #545454;
    transition: background-color 0.15s ease;
  }



      .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
   .modal-content {
        width: 30vw;
        height: 25vh; 
        padding: 1.5rem; 
        border-radius: 0.75rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #32323293;
    }

.modal-title {
    color: #ffffff;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.modal-buttons {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.modal-button {
    padding: 0.75rem 2rem;
    font-size: 1.4rem; 
    border-width: 0.3vh; 
    border-radius: 0.75vh;
    background-color: #3b3b3b;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.modal-button:hover {
    background-color: #545454;
}
.modal-content input {
    width: 80%;
    padding: 0.6rem 1rem;
    margin-bottom: 1.2rem;
    border: 1px solid #555; 
    border-radius: 0.5rem;
    background-color: #2c2c2c; 
    color: #ffffff; 
    font-size: 1.2rem;
    outline: none;
    transition: border-color 0.2s ease, background-color 0.2s ease;
}

.modal-content input:focus {
    border-color: #888; 
    background-color: #3b3b3b; 
}

@media (max-width: 768px) {
    .modal-content {
        width: 70vw;
        height: 50vh; 
        padding: 1.5rem; 
        border-radius: 0.75rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .modal-title {
        font-size: 1.5rem; 
        margin-bottom: 1.5rem;
    }

    .modal-buttons {
        gap: 1rem; 
        flex-direction: column; 
        justify-content: center;
        max-width: 325px;
    }

    .modal-button {
        padding: 0.75rem 2rem;
        font-size: 1.4rem; 
        border-width: 0.3vh; 
        border-radius: 0.75vh;
    }
}

