<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Index</title>
<link rel="icon" href="/static/pageicons/favicon.png" type="image/png">

<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="/static/css/index-style.css">

<script defer src="/static/js/index-script.js"></script>
<script defer src="/static/js/theme.js"></script>

</head>
<body>

<div class="header">
    <div style="height: 100%; display: flex; flex-direction: row; justify-content: left; align-items: center;">
        <button class="menu-btn" onclick="toggle()">  ☰  </button>
         <a style="height: 100%; align-content: center;"  href="/"><img style="margin-left: 1vw; height: 55%;" src="/{{ .T_icon }}"></a>
        <a href="/" id="service-title" >{{ .Title }}</a>
    </div>

    <div style="height: 100%; display: flex; flex-direction: row; justify-content: left; gap: 0.5vw; align-items: center;">
        <div class="option-icon" id="openbtn" >
                    <img style="height: 80%; position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);" src="/static/icons/menu.svg">
        </div>
      
        <a href="/-/login" class="option-icon" id="loginbtn" >
            <img style="height: 80%; position: relative; top: 50%; left: 50%; transform: translate(-50%,-50%);" src="/static/icons/login.svg">
        </a>
    </div>

     <div class="side-menu" id="sideMenu">

        <div class="menu-item" onclick="copyEventB(this,window.location.href)">
            <img src="/static/icons/copy-link.svg">
            <span>Copy link</span>
        </div>

        <div class="menu-item" name="auth" onclick="window.location.href = `/-/edit?type=a`">
                <img src="/static/icons/add.svg">

            <span>Create</span>
        </div>

        <div class="menu-item" onclick="toggleTheme()">
                <img src="/static/icons/theme.svg">

            <span>Toggle Theme</span>
        </div>


    </div>
  
</div>

<div class="wrapper">
    <div id="left" class="left hidden" style="display: flex; justify-content: space-between;">
        <div>
            <a class="menu-item" style="margin-bottom: 1.5vh;" href="/">
                <img src="/static/icons/home.svg">
                <span>Home</span>
            </a>

            <a class="menu-item" style="margin-bottom: 1.5vh;" href="/-/index">
                <img src="/static/icons/index.svg">
                <span>A-Z</span>
            </a>
            <a class="menu-item" style="margin-bottom: 1.5vh;" href="/-/history">
                <img src="/static/icons/history.svg">
                <span>History</span>
            </a>
            <a class="menu-item" style="margin-bottom: 1.5vh;" name="auth" href="/-/settings">
                <img src="/static/icons/settings.svg">
                <span>Settings</span>
            </a>


            <div>
            <div class="search-wrap">
                    <input id="search_input" type="text" placeholder="Search" value="">
                </div>
                <div style="margin: 1.5vh;" id="result">
                    
                </div>
            </div>
      
        </div>

        <div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">

            <div style="width: 40%; aspect-ratio: 1/1;">
                <img style="width: 100%; " src="/{{ .S_icon }}">
            </div>

            <a href="/-/about" style="font-size: 1.75vh">powered by UniT</a>


        </div>

    </div>
    
    <div class="right">
        <div id="content">
            <div id="paths"><a href="/-/index">home</a></div>

           
        </div>
    </div>
</div>




<script>

let is_auth
let authdivs = document.getElementsByName("auth")
let login_btn = document.getElementById("loginbtn")

try{
    is_auth = {{ .IsAuth }}
}
catch (error){
    is_auth = false
}
if (!is_auth){
    for (el of authdivs){
        el.style.display = `none`
    }
}
else{
    login_btn.firstElementChild.src = "/static/icons/logout.svg"
    login_btn.href = "/-/logout"
}




</script>

</body>
</html>
